STRIPE_SECRET_KEY=sk_test_51T4cAsDkFWmLLY1jvDYYWCkuWJbAItzPnyrJe6TeQLFR9fLvzVlK7zXqZzFBomtVYNwuXZktF9qTrRgvYBBKqPB500XpQm1FA2
STRIPE_PRICE_ID=price_1T4cBpDkFWmLLY1jqYf5KawR
STRIPE_CHECKOUT_MODE=subscription
STRIPE_TRIAL_PERIOD_DAYS=3

# Optional
STRIPE_CHECKOUT_MODE=payment
# STRIPE_TRIAL_PERIOD_DAYS=3
# STRIPE_SUCCESS_URL=https://your-domain.com/success.html?session_id={CHECKOUT_SESSION_ID}
# STRIPE_CANCEL_URL=https://your-domain.com/

META_PIXEL_ID=881125061413136
META_ACCESS_TOKEN=EAAfZB256f98BABQvUj07vOoVyZCn1JmZAC0ZCzXZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB08Gg8X8bC1o26185DZCnZB
# META_GRAPH_API_VERSION=v21.0
# META_TEST_EVENT_CODE=
